[submodule "backend"]
	path = backend
	url = https://github.com/luizlaljr/queimadasbackend.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/luizlaljr/queimadasmobile.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/luizlaljr/queimadasfrontend.git
